{#{{ dump(articles) }}#}
{#{{ dump(specials) }}#}
{% trans_default_domain 'sidebar' %}

<!--colright-->
<div class="col-md-4 col-sm-12">

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

        <h3 class="text-center">
            {{ 'sidebar.hello' | trans }} {{ app.user.prenom }}
        </h3>

        <h4 class="text-center">

            {% if is_granted('ROLE_ADMIN') %}
                {% trans from 'roles' %}role.admin{% endtrans %}
            {% elseif is_granted('ROLE_EDITEUR') %}
                {% trans from 'roles' %}role.editor{% endtrans %}
            {% elseif is_granted('ROLE_AUTEUR') %}
                {% trans from 'roles' %}role.author{% endtrans %}
            {% else %}
                {% trans from 'roles' %}role.member{% endtrans %}
            {% endif %}
            
        </h4>

        <ul class="list-group">
            {#
                On vérifie que article est bien définie
                que article n'est pas null
                que l'utilisateur connecté, est bien l'auteur de l'article
                que l'utilisateur à toujours les droits d'auteur
                ou bien, qu'il s'agit d'un éditeur.
            #}
            {% if article is defined
                and article
                and ( ( article.isAuteur(app.user) and is_granted('ROLE_AUTEUR') )
                or is_granted('ROLE_EDITEUR') )
            %}
                <li class="list-group-item">
                    <a href="{{ path('article_edit', { 'id' : article.id }) }}">
                        {{ 'sidebar.article.edit' | trans }}
                    </a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_AUTEUR') %}
                <li class="list-group-item">
                    <a href="{{ path('article_new') }}">
                        {{ 'sidebar.article.new' | trans }}
                    </a>
                </li>
            {% endif %}
            <li class="list-group-item">
                <a href="{{ path('security_deconnexion') }}">
                    {% trans from 'navigation' %}nav.logout{% endtrans %}
                </a>
            </li>
        </ul>

    {% endif %}

    <!--tab popular-->
    <ul role="tablist" class="tab-popular">
        <li class="active">
            <a href="#tab1" role="tab" data-toggle="tab">
                {{ 'sidebar.lastpublications' | trans }}
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab1">
            <ul class="list-news-popular">
                {% for article in articles %}
                    <li>
                        <a href="{{ path('index_article', {
                            categorie: article.categorie.slug,
                            slug: article.slug,
                            id: article.id,
                            sourceId: article.sourceId
                        }) }}">
                            <img alt="{{ article.titre | title }}"
                                 src="{{ asset('images/product/'~article.featuredImage) }}">
                        </a>
                        <h3><a href="{{ path('index_article', {
                                categorie: article.categorie.slug,
                                slug: article.slug,
                                id: article.id,
                                sourceId: article.sourceId
                            }) }}">{{ article.titre | title }}</a></h3>
                        <div class="meta-post">
                            <a href="#">
                                {{ article.membre.prenom ~ ' ' ~ article.membre.nom }}
                            </a>
                            <em></em>
                            <span>
                                {{ article.dateCreation | date('d/m/Y') }}
                            </span>
                        </div>
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>

    <!-- subcribe box-->
    <div class="subcribe-box">
        <h3>{{ 'sidebar.newsletter.title' | trans }}</h3>
        <p>{{ 'sidebar.newsletter.description' | trans }}</p>
        <input type="text" placeholder="{{ 'sidebar.newsletter.placeholder' | trans }}"/>
        <button class="my-btn">{{ 'sidebar.newsletter.btn' | trans }}</button>
    </div>
    <!-- connect us-->
    <div class="connect-us">
        <div class="widget-title">
			<span>
				{{ 'sidebar.social.followus' | trans }}
			</span>
        </div>
        <ul class="list-social-icon">
            <li>
                <a href="#" class="facebook">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="#" class="twitter">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="#" class="google">
                    <i class="fa fa-google"></i>
                </a>
            </li>
            <li>
                <a href="#" class="youtube">
                    <i class="fa fa-youtube-play"></i>
                </a>
            </li>
            <li>
                <a href="#" class="pinterest">
                    <i class="fa fa-pinterest-p"></i>
                </a>
            </li>
            <li>
                <a href="#" class="rss">
                    <i class="fa fa-rss"></i>
                </a>
            </li>
        </ul>
    </div>

    {% if specials is not empty %}
        <!-- special post-->
        <div class="connect-us">
            <div class="widget-title">
                <span>
                    {{ 'sidebar.special.title' | trans }}
                </span>
            </div>
            <div class="list-special">
                {% for article in specials %}
                    <article class="news-two-large">
                        <a href="{{ path('index_article', {
                            categorie: article.categorie.slug,
                            slug: article.slug,
                            id: article.id,
                            sourceId: article.sourceId
                        }) }}">
                            <img alt="{{ article.titre | title }}" src="{{ asset('images/product/'~article.featuredImage) }}">
                        </a>
                        <h3><a href="{{ path('index_article', {
                                categorie: article.categorie.slug,
                                slug: article.slug,
                                id: article.id,
                                sourceId: article.sourceId
                            }) }}">{{ article.titre | title }}</a></h3>
                        <div class="meta-post">
                            <a href="#">
                                {{ article.membre.prenom ~ ' ' ~ article.membre.nom }}
                            </a>
                            <em></em>
                            <span>
                            {{ article.dateCreation | date('d/m/Y') }}
                        </span>
                        </div>

                    </article>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>