<div>
    <article class="spotlight-item">
        <div class="spotlight-img">
            <img alt="{{ article.titre }}"
                 src="{{ asset('images/product/'~article.featuredimage) }}"
                 class="img-responsive"/>
            <a href="{{ path('index_categorie', {
                slug: article.categorie.slug
            }) }}" class="cate-tag">
                {{ article.categorie.nom }}
            </a>
        </div>
        <div class="spotlight-item-caption">
            <h2 class="font-heading">
                <a href="{{ path('index_article', {
                    categorie: article.categorie.slug,
                    slug: article.slug,
                    id: article.id
                }) }}">
                    {{ article.titre | title }}
                </a>
            </h2>
            <div class="meta-post">
                <a href="javascript:void(0)">
                    {{ article.membre.prenom ~ ' ' ~ article.membre.nom }}
                </a>
                <em></em>
                <span>
                    {{ article.datecreation | date('d/m/Y') }}
                </span>
            </div>
            {{ article.contenu | summary }}
        </div>
    </article>
</div>